@import 'tailwindcss';


* {
  font-family: 'Poppins',sans-serif;
}
@theme{
    --color-navy-blue: #1a3e62;
    --color-logo-blue: #089cd0;
    --color-btn-dark: #373737;
    --color-btn-primary: #b3fc6a;
    --color-hero-light: #fefdff;
    --color-ring-green: #0c7737;
    --color-how-it-works: #eaeffb;
    --color-test-purple: #f0efff;
    --color-salesCard: #f0efff;
    --color-faq-ans: #fef1e9;
    --color-footer: #d3eff7;
    --animate-marquee: marquee var(--duration, 30s) linear infinite;
    --animate-vertical-scroll: vertical-scroll var(--duration, 15s) linear infinite;

    @keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* move by half because content is duplicated */
  }
    @keyframes vertical-scroll {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-50%); } /* move by half because content is duplicated */
  }
}

@layer components{
  .vertical-gap-sm{ @apply flex flex-col gap-2; }
}

/* COMMON STYLING */
